In [4]:
import pandas as pd

In [5]:
df=pd.read_csv(r'C:\Users\DELL\Downloads\archive\Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [6]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [7]:
# random test observation created 
test=[6.05,3.8,4.7,1.96]

In [8]:
import numpy as np
y=df.drop(["Species","Id"],axis=1)

In [9]:
#Distance function for n number of features
def euclidean_distance(a, b):
    dim = len(a)       # Store the number of dimensions
    distance = 0
    for d in range(dim):
        distance += abs(a[d] - b[d])**2
    distance = distance**(1/2)
    return distance

In [10]:
#finding distance of each datapoint from test point
distance=[]
for i in y.index:
    d=euclidean_distance(test, y.iloc[i])
    distance.append(d)
df['distance']=distance
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,distance
0,1,5.1,3.5,1.4,0.2,Iris-setosa,3.870413
1,2,4.9,3.0,1.4,0.2,Iris-setosa,3.993758
2,3,4.7,3.2,1.3,0.2,Iris-setosa,4.103669
3,4,4.6,3.1,1.5,0.2,Iris-setosa,3.991253
4,5,5.0,3.6,1.4,0.2,Iris-setosa,3.889743
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,1.195031
146,147,6.3,2.5,5.0,1.9,Iris-virginica,1.358713
147,148,6.5,3.0,5.2,2.0,Iris-virginica,1.045992
148,149,6.2,3.4,5.4,2.3,Iris-virginica,0.887750
149,150,5.9,3.0,5.1,1.8,Iris-virginica,0.920923

In [11]:
#sort and get k closest datapoints
df1=df.sort_values("distance")[:5]
df1

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,distance
85,86,6.0,3.4,4.5,1.6,Iris-versicolor,0.576281
70,71,5.9,3.2,4.8,1.8,Iris-versicolor,0.646607
56,57,6.3,3.3,4.7,1.6,Iris-versicolor,0.664906
138,139,6.0,3.0,4.8,1.8,Iris-virginica,0.823468
127,128,6.1,3.0,4.9,1.8,Iris-virginica,0.841487

In [12]:
#Select class based on class of maximum out of k observations
from collections import Counter

# Create counter object to track the labels

counter = Counter(df1["Species"])
#Select class based on class of maximum out of k observations
counter.most_common()[0][0]

'Iris-versicolor'